/* Variables used throughout will go here. */
/* EFA Color pallete */
/****************************
Body Section
****************************/
body {
  background-color: lightgrey;
  color: black; }

p {
  font-size: 18px; }

label {
  font-size: 16px;
  font-weight: normal; }

.cardStyle {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 0.4em;
  box-shadow: 2px 4px 8px #f0f0f0;
  width: 100%; }

.marginTop {
  margin-top: 20px; }

.marginLeft {
  margin-left: 5px; }

.marginRight {
  margin-right: 16px; }

.marginBottom {
  margin-bottom: 20px; }

.aboutMeText p {
  font-size: 20px; }

.quote {
  text-align: center;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 50px; }

@media (max-width: 375px) {
  .marginLeft {
    margin-left: 0px; } }

@media (max-width: 414px) {
  .marginLeft {
    margin-left: 0px; } }

@media (max-width: 768px) {
  .marginLeft {
    margin-left: 0px; } }

/* ------------------------------
Navbar Section
--------------------------------*/
.navbar-container {
  font-size: 16px;
  font-weight: bolder;
  transition: 0.8s;
  -webkit-transition: 0.8s; }

.navbar-container a {
  color: black; }

/* fixed-theme */
.navbar.navbar-fixed-top.fixed-theme {
  background-color: grey;
  box-shadow: 0 0 5px white; }

.navbar.navbar-fixed-top.fixed-theme a {
  color: white; }

/****************************
Header Section
****************************/
.jumbotron-billboard .img {
  margin-bottom: 0px;
  color: #fff;
  background: #000 url("../assets/cherry-blossoms.jpeg") top center no-repeat;
  box-shadow: 2px 10px 10px #f0f0f0;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.jumbotron h1 {
  margin-top: 200px;
  font-size: 80px;
  font-weight: bold;
  font-family: "Belleza", Arial, Helvetica, sans-serif;
  color: black; }

.jumbotron h2 {
  font-size: 60px;
  font-weight: bold;
  font-family: "Belleza", Arial, Helvetica, sans-serif; }

.jumbotron {
  position: relative;
  min-height: 800px;
  padding-top: 50px;
  padding-bottom: 50px; }

.jumbotron .container {
  position: relative;
  z-index: 2; }

/* ------------------------------
Portfolio Section
--------------------------------*/
/****************************
About Section
****************************/
#aboutMe {
  color: black;
  text-align: left;
  font-size: 30px; }

.headshot {
  height: 20em;
  border-color: gray;
  border-radius: 3em;
  align-content: center;
  margin: auto;
  display: block; }

/* CSS code for the Contact section. */
.btn btn-secondary {
  color: black;
  background-color: grey; }

/* CSS code for the Footer section. */
.footer {
  padding: 30px;
  vertical-align: middle;
  background-color: gray;
  color: black;
  box-shadow: 0 0 5px white;
  text-align: center; }

.fa {
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none; }

.fa:hover {
  opacity: 0.7; }
