/* Variables used throughout will go here. */
/* CSS code for the Navbar section. */
#main-nav {
  padding-top: 5rem;
  font-size: 18px;
  padding-bottom: 1rem; }

/* CSS code for the Header section. */
/* CSS code for the Portfolio section. */
/* CSS code for the About section. */
/* CSS code for the Contact section. */
/* CSS code for the Footer section. */
