
/****************************
About Section
****************************/

#aboutMe{
    color: black;
    text-align: left;
    font-size: 30px;
}

.headshot {
    height: 20em;
    border-color: gray;
    border-radius: 3em;
    align-content: center;
    margin: auto;    
    display: block;
}