/* Body section. */

body {
    padding: 15px;
}

header {
    text-align: center;
}

.section-title h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
  }
