
/****************************
Body Section
****************************/

body  {
    background-color:lightgrey;
    color: black;
}

p {
    font-size: 18px;
}

label {
    font-size: 16px;
    font-weight: normal;
}

.marginTop {
    margin-top: 20px;
}

.marginLeft {
    margin-left: 40px;
}

.marginRight {
    margin-right: 16px;
}

.marginBottom {
    margin-bottom: 20px;
}

.aboutMeText p{
    font-size: 20px;
}

#contactMe {

}

#projects{

}

.quote {
    text-align: center;
    font-style: italic;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}