
/****************************
Body Section
****************************/

body  {
    background-color:lightgrey;
    color: black;
}

p {
    font-size: 18px;
}

label {
    font-size: 16px;
    font-weight: normal;
}

.card {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 0.4em;
    box-shadow: 2px 4px 8px #f0f0f0;
    // width: 100%;
}
.cardStyle {
    margin-top: 1em;
    margin-bottom: 3em !important;
  }

.marginTop {
    margin-top: 20px;
}

.marginLeft {
    margin-left: 5px;
}

.marginRight {
    margin-right: 16px;
}

.marginBottom {
    margin-bottom: 20px;
}

.aboutMeText p{
    font-size: 20px;
}

#contactMe {

}

#projects{
    
}

.quote {
    text-align: center;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media(max-width: 375px) {
    .marginLeft{margin-left: 0px}
  }
  
@media(max-width: 414px) {
    .marginLeft{margin-left: 0px}
  }
  
@media(max-width: 768px) {
    .marginLeft{margin-left: 0px}
  }
