/* ------------------------------
Navbar Section
--------------------------------*/

.navbar-container {
    font-size: 16px;
    font-weight: bolder;
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.navbar-container a {
    color: black;
}

/* fixed-theme */

.navbar.navbar-fixed-top.fixed-theme {
    background-color: grey;
    box-shadow: 0 0 5px white;
}

.navbar.navbar-fixed-top.fixed-theme a {
    color: white;
}

